<!DOCTYPE html>
<html ng-app="resetApp">
<head>
	<title>Arbidex</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

	<link href="/external/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/src/css/style.css" rel="stylesheet" type="text/css">

	<script src="/external/js/angular.min.js" language="javascript"></script>
	<script src="/src/resetPassword/resetPassword.js" language="javascript"></script>
</head>
<body ng-controller="resetController">
<div class="container">
	<div class="text-center">

		<div class="panel" ng-if="!resetDone">
			<form class="form-auth">
				<h4 class="form-signin-heading">Please reset your Password</h4>

				<label for="password" class="sr-only">Password</label>
				<input name="password" type="password" class="form-control" placeholder="New password" ng-model="formData.password"/>

				<label for="confirm" class="sr-only">Confirm password</label>
				<input name="confirm" type="password" class="form-control" placeholder="Confirm new password" ng-model="formData.confirm"/>

				<div class="password-tip">
					<span>* Password must be at least 8 characters long. It should contain uppercase and lowercase letters, numbers and special characters.</span>
				</div>

				<input ng-if="!isEmailSending" class="btn btn-lg btn-primary btn-block" type="submit" value="Change" ng-click="resetVerify()"/>
				<span ng-if="isEmailSending">Email sending... Please wait the server response!</span>
			</form>
		</div>

		<div class="panel" ng-if="resetDone">
			<div class="form-auth" style="max-width: 400px;">
				<h4 class="form-signin-heading">Your Password was changed</h4>
				<span>Please <a href="/">Login</a></span>
			</div>
		</div>

		<div class="panel" ng-if="errorMessage.length">
			<div class="message">
				<div class="alert alert-danger" role="alert">
					<span>{{errorMessage}}</span>
				</div>
			</div>
		</div>

	</div>
</div>
</body>
</html>